.login-signup {
  max-width: 400px;
  padding: 50px;
  border: 10px solid #121212;
  border-radius: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(../../assets/login.jpg); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
  position: relative;
  margin: 150px auto;
}
awd
.login-signup h2 {
  font-size: 28px;
  font-weight: 600;
  color: #6a1b9a; 
  text-align: center;
  margin-bottom: 20px;
}

.login-signup form {
  margin-top: 20px;
}

.login-signup input[type="text"],
.login-signup input[type="email"],
.login-signup input[type="password"] {
  width: 100%;
  padding: 12px 0px;
  margin-bottom: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 15px;
  background-color: #f5f5f5; 
}

.login-signup button[type="submit"],
.login-signup button[type="button"] {
  background: #6a1b9a; 
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 101%;
  margin-top: 15px;
  font-size: 16px;
}

.login-signup button[type="button"] {
  background: #4b0082; 
}

.login-signup button[type="submit"]:hover,
.login-signup button[type="button"]:hover {
  background-color: #5e2e8d; 
}

.login-signup p {
  font-size: 15px;
  color: #6a1b9a; 
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 15px;
}
