/* src/NutritionInfo.css */

.nutrition-form {
    max-width: 700px;
    padding: 30px;
    border: 12x solid #796970;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../../assets/NSearchBG.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
}

.search-input {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #00000082;
    color: #ccc;

}

.error-message {
    color: rgba(184, 19, 19, 0.751);
    font-weight: bold;
    font-size: 20px;
}

.nutrition-results {
    margin-top: 20px;
}
